In [32]:
import warnings
warnings.filterwarnings('ignore')

In [33]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

In [34]:
df = pd.read_csv("csv/cleaned/fulllist.csv", encoding="UTF-8")
df.count()

Year                 2205
Month                2205
State                2205
County               2205
Unemployment_Rate    2205
dtype: int64

In [35]:
engine = create_engine('sqlite:///save_unemployment.sqlite', echo=True)
sqlite_connection = engine.connect()

2020-08-27 17:46:39,880 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-08-27 17:46:39,880 INFO sqlalchemy.engine.base.Engine ()
2020-08-27 17:46:39,881 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-08-27 17:46:39,882 INFO sqlalchemy.engine.base.Engine ()

In [36]:
sqlite_table = "Unemployment_ALL"
df.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2020-08-27 17:46:41,098 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Unemployment_ALL")
2020-08-27 17:46:41,098 INFO sqlalchemy.engine.base.Engine ()
2020-08-27 17:46:41,100 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Unemployment_ALL")
2020-08-27 17:46:41,100 INFO sqlalchemy.engine.base.Engine ()
2020-08-27 17:46:41,103 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Unemployment_ALL" (
	"index" BIGINT,
	"Year " BIGINT,
	"Month" TEXT,
	"State" TEXT,
	"County" TEXT,
	"Unemployment_Rate" FLOAT
)


2020-08-27 17:46:41,103 INFO sqlalchemy.engine.base.Engine ()
2020-08-27 17:46:41,111 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-27 17:46:41,112 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Unemployment_ALL_index" ON "Unemployment_ALL" ("index")
2020-08-27 17:46:41,113 INFO sqlalchemy.engine.base.Engine ()
2020-08-27 17:46:41,118 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-27 17:46:41,121 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-08-27 17:46:41,133 INFO sqlalchemy.engine.base.Engine INSERT INTO "Unemployment_ALL" ("index", "Year ", "Month", "State", "County", "Unemployment_Rate") VALUES (?, ?, ?, ?, ?, ?)
2020-08-27 17:46:41,133 INFO sqlalchemy.engine.base.Engine ((0, 2020, 'June', 'CA', 'Alameda County', 13.5), (1, 2020, 'June', 'CA', 'Alpine County', 18.9), (2, 2020, 'June', 'CA', 'Amador County', 12.7), (3, 2020, 'June', 'CA', 'Butte County', 12.2), (4, 2020, 'June', 'CA', 'Calaveras County', 11.0), (5, 2020, 'June', 'CA', 'Colusa County', 18.4), (6, 2020, 'June', 'CA', 'Contra Costa County', 13.4), (7, 2020, 'June', 'CA', 'Del Norte County', 12.5)  ... displaying 10 of 2205 total bound parameter sets ...  (2203, 2020, 'June', 'NY', 'Queens County', 21.8), (2204, 2020, 'June', 'NY', 'Bronx County', 24.7))
2020-08-27 17:46:41,140 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-27 17:46:41,146 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-08-27 17:46:41,146 INFO sqlalchemy.engine.base.Engine ()

In [46]:
sqlite_connection.close()