In [2]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import date, timedelta
from config import password

In [3]:
#importing all csv datasets
ny_une = "csv/unemploymentnycounty.csv"
cal_une = "csv/unemploymentcalcounty.csv"
fl_une = "csv/FLunemploymentcountyjune.csv"

In [4]:
ny_df = pd.read_csv(ny_une)
fl_df = pd.read_csv(fl_une)
cal_df = pd.read_csv(cal_une)

In [5]:
ny_df2 = ny_df.rename(columns = {"RANK" : 'Unemployment Rank', "COUNTY":  'County', "RATE": 'Unemployment_Rate'})
ny_df2 = ny_df2.drop(columns = ['Unemployment Rank'])
ny_df2['Year'] = "2020"
ny_df2['Month'] = "June"
ny_df2["State"] = "NY"
ny_df2.reset_index()
ny_final = ny_df2.set_index('Month')
ny_final.dropna()
# ny_final.to_csv('ny_final.csv')

                County  Unemployment_Rate  Year State
Month
June   Hamilton County                7.7  2020    NY
June   Chenango County                8.4  2020    NY
June      Yates County                8.5  2020    NY
June   Columbia County                8.8  2020    NY
June   Tompkins County                8.9  2020    NY
...                ...                ...   ...   ...
June   New York County               16.0  2020    NY
June   Richmond County               18.1  2020    NY
June      Kings County               20.5  2020    NY
June     Queens County               21.8  2020    NY
June      Bronx County               24.7  2020    NY

[62 rows x 4 columns]

In [6]:
fl_df.head()
fl_df2 = fl_df.drop(['LABOR', 'EMPLOY-','UNEMPLOYMENT'], axis=1)
fl_df3 = fl_df2.rename(columns = {"Unnamed: 0": "County", "Unnamed: 4": "Unemployment_Rate"})
fl_df_final = fl_df3.drop([0, 0])
fl_df_final.reset_index()
fl_df_final["Year"] = "2020"
fl_df_final["Month"] = "June"
fl_df_final["State"] = "FL"
fl_final = fl_df_final.set_index('Month')
fl_final.dropna()


fl_final['Unemployment_Rate'] = fl_final['Unemployment_Rate'].str.rstrip('%').astype('float') 

# fl_final.to_csv('fl_final.csv')

In [7]:
cal_df.head()
cal_df2 = cal_df.drop(columns = ['Area Type ','Seasonally Adjusted (Y/N) ','Status (Preliminary / Final) ','Unemployment ','Employment ','Labor Force'])
cal_df2['Date'] = pd.to_datetime(cal_df2['Date'])

res = cal_df2[~(cal_df2['Date'] <= '2020-05-31')]

cal_df_final = res
cal_df_final
cal_tidy = cal_df_final.rename(columns = {'Area Name ': 'County_CA', 'Unemployment Rate': 'Unemployment_Rate'}, inplace = False)
cal_final= cal_tidy[cal_tidy.County_CA != 'California']
cal_final = cal_final.rename(columns = {'County_CA': 'County, CA'}, inplace = False)
# cal_final.reset_index()
cal_final = cal_final.drop(columns = ['Date'])
cal_final["County, CA"]= cal_final["County, CA"].str.split(",", n = 1, expand = True)
cal_final["State"] = "CA"
cal_final = cal_final.rename(columns = {'County, CA':  'County'}, inplace= False)
cal_final = cal_final.set_index('Month')
cal_final = cal_final.rename(columns = {'Unemployment Rate ': 'Unemployment_Rate'})

cal_final.dropna()
# cal_final.to_csv('cal_final.csv')
cal_final

                    County  Year   Unemployment_Rate State
Month
June        Alameda County   2020              0.135    CA
June         Alpine County   2020              0.189    CA
June         Amador County   2020              0.127    CA
June          Butte County   2020              0.122    CA
June      Calaveras County   2020              0.110    CA
...                    ...    ...                ...   ...
June            Santa Rosa   2020              0.114    CA
June         Stockton-Lodi   2020              0.159    CA
June     Vallejo-Fairfield   2020              0.136    CA
June   Visalia-Porterville   2020              0.178    CA
June             Yuba City   2020              0.152    CA

[2072 rows x 4 columns]

In [8]:
# unemployment_df = [cal_final,ny_df2, fl_df_final]
# result_1 = pd.merge(unemployment_df, join='inner', axis=1)
final = pd.merge(cal_final,fl_final, on ='Month', how='outer')
# df = pd.DataFrame(result_1)
# df.dropna(axis=1, how='all')
concatenated = pd.concat([cal_final, fl_df_final, ny_df2])


concatenated["Month"] = "June"
concatenated["Year"] = "2020"
concatenated.set_index('Month')
df = concatenated.copy()
# df.to_csv('fulllist.csv')
df

                County   Year  Unemployment_Rate State  Year Month
June    Alameda County  2020.0             0.135    CA  2020  June
June     Alpine County  2020.0             0.189    CA  2020  June
June     Amador County  2020.0             0.127    CA  2020  June
June      Butte County  2020.0             0.122    CA  2020  June
June  Calaveras County  2020.0              0.11    CA  2020  June
...                ...     ...               ...   ...   ...   ...
67     New York County     NaN                16    NY  2020  June
68     Richmond County     NaN              18.1    NY  2020  June
69        Kings County     NaN              20.5    NY  2020  June
70       Queens County     NaN              21.8    NY  2020  June
71        Bronx County     NaN              24.7    NY  2020  June

[2226 rows x 6 columns]

In [9]:
#connect to postgres
engine = create_engine(password)
connection = engine.connect()

ArgumentError: Invalid SQLite URL: sqlite://postgres:postgres@localhost:5432/etlproject
Valid SQLite URL forms are:
 sqlite:///:memory: (or, sqlite://)
 sqlite:///relative/path/to/file.db
 sqlite:////absolute/path/to/file.db

In [10]:
engine.table_names()

NameError: name 'engine' is not defined

In [11]:
fl = pd.read_sql_query('select * from fl', con=engine).head()
fl.loc[fl['unemployment_rate'] > 7.0]

NameError: name 'engine' is not defined

In [12]:
ny = pd.read_sql_query('select * from ny', con=engine).head()
ny.loc[fl['unemployment_rate'] >= 7.0]

NameError: name 'engine' is not defined

In [13]:
ca = pd.read_sql_query('select * from ca', con=engine).head()
ca
#example query
ca.loc[ca['unemployment_rate'] >= 10.0]

NameError: name 'engine' is not defined

In [61]:
base = pd.read_sql_query('select * from base_table', con=engine).head()
base.loc[ca['unemployment_rate'] >= 16.0]

   year month state         county  unemployment_rate  id_unemployment
1  2020  June    CA  Alpine County               18.9                2

In [1]:
ny_html = ny.to_html()
print(ny_html)

NameError: name 'ny' is not defined